<ul>
  <li><%= cat.birth_date %></li>
  <li><%= cat.color %></li>
  <li><%= cat.name %></li>
  <li><%= cat.sex %></li>
  <li><%= cat.description %></li>
  <% if type == :show %>
    <%# debugger %>
    <li><a href="<%= cats_url %>">Cats Index</a></li>
  <% else %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %>'s Show Page</a></li>
  <% end %>
</ul>